

@media only screen and (max-width: 600px) {
    *{
        margin: 5px;
    }
    .container, .left-container, .seven-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .third-left-container{
        width: 100%;
      }
      .third-right-container{
        width: 100%;
      }
    .left-container{
        display: flex;
        align-items: center;
        justify-content: center;  
    }
     .right-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    } 
    .banner-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner-container, .input{
        display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

    }
    .third-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .third-right-container{
        width: 100%;
        height: 100%;
    }
    .third-right-container, img{
        margin-left: 0px;
    }
    .forth-section{
        width: 100%;
    }
    .img-container{
        display: flex;
        flex-direction: column;
    }
    .grid-container, .eight-container{
        display: flex;
        flex-direction: column;
    }
    .sea-img{
        width: 100%;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    
    .third-left-container, ul, li{
        margin-left: 0px;
    }
   
    .fifth-section, p{
        text-align: left;
    }
    .card-container, p{
        margin-left: -20px;
    }
    .fifth-section, p{
        width: 550px;
    }


}