

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .right-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}