@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Mulish:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@400;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* header style start */
.container{
    max-width: 1250px;
    min-height: 40px;
    margin: 40px auto;
    display: flex;
    

}
.logo-img{
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;
}
.left-container{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;

}
.left-container, h3{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}

.rours{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.right-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Mulish;
}
.right-container, a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;

}

.right-container, a:first-child{
    color: #FF5400;
}

/* header end */
/* banner start */
.banner-container{
    max-width: 1250px;
    min-height: 600px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container, h2{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-container  p{
    color: #FFF;
    width: 640px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
}


.input, input{
    border-radius: 8px;
   padding: 10px;
    border: hidden;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    
}
    /* banner end */
  /* third section start */
  .third-container{
    max-width: 1250px;
    min-height: 600px;
    margin: 70px auto;
    display: flex;

  }
  .third-left-container{
    width: 48%;
  }
  .third-right-container{
    width: 48%;
  }

  .third-left-container, h2{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 20px;

  }
  .third-left-container, h6{
    color: rgba(19, 19, 24, 0.70);
     width: 577px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .third-left-container, ul, li{
    margin-bottom: 16px;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .third-left-container, p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .btn-third{
    color: #FFF;
    padding: 20px 30px;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    background-color: #FF5400;
    font-weight: 600;
    border-radius: 16px;
    border: hidden;
  }
  
  .third-right-container, img{
    width: 100%px;
    height: 100%px;
    border-radius: 16px;
    margin-left: 15px;
  }

  /* third section end */
  /* forth section start */

  .forth-section{
    margin-left: 25%;
   
  }
  .forth-section, h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    
  }
  .forth-section, p{
    color: rgba(19, 19, 24, 0.70);
    width: 640px;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    
     }
     .img-container{
        max-width: 1250px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0 auto;
        gap: 10px;
        justify-content: center;
        align-items: center;

     }
     .grid-item-1{
       grid-column: 1/ span 6;
     }
     .grid-item-2{
        grid-column: 7/ span 6;
      }
      .grid-item-3{
        grid-column: 1/ span 4;
      }
      .grid-item-4{
        grid-column: 5/ span 5;
      }
      .grid-item-5{
        grid-column: 10/ span 3;
      }
      .grid-item-6{
        grid-column: 1/ span 5;
      }
      .grid-item-7{
        grid-column: 6/ span 7;
      }
     .img-container, img{
        width: 100%;
        height: 100%;
        object-fit: cover;
     }
       /* forth section end */


   /* fifth section start */
     .fifth-section{
       
        margin-left: 25%;
       margin-top: 70px; 
      }
      .fifth-section, h2{
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 40px;
        font-weight: 800;
        
      }
      .fifth-section, p{
        color: rgba(19, 19, 24, 0.70);
        width: 640px;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
       
         }
         .icon-1, .icon-2, .icon-3{
            height: 40px;
            width: 40px;
         }
         .grid-container{
             max-width: 1250px; 
            min-height: 600px;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin: 0 auto;
            
         }
         .grid-hotel,.grid-map, .grid-price{
            width: 100%;
            height: 100%;
           
         }
         .grid-hotel{
            grid-column: 1/ span 6;
         }
         .grid-map{
            grid-column: 7/ span 6;
         }
         .grid-price{
            grid-column: 4/ span 6;
         }


         .card-container, p{
            color: #5A5A5D;
            font-family: Mulish;
            font-size: 16px;
            width: 550px;
            font-weight: 400;
            line-height: 26px;
            
         }
        .card-container, h4{
            color: #131318;
            font-family: Mulish;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            
        }

       /* fifth end */
            /* sixth start */

            .six-container{
              max-width: 1250px;
              min-width: 400px;
              margin: 10px auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

            }
            .sea-img{
                max-width: 1250px;
                min-height: 800px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 10px;

            }
            .btn-sea{
                color: #FFF;
                text-align: center;
                font-family: Mulish;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                background-color: #FF5400;
                margin: 50px 43%;
                padding: 5px 5px;
                border-radius: 5px;
                border: hidden;

            }
            /* six end */
           /* seven start */


